!!! XHTML
%html
  %head
    %title= @title
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'UTF-8'}
    :javascript
      var app_root = "#{app_root}";
    %script{:type => 'text/javascript', :src => "#{app_root}/js/jquery.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/main.js"}
  %body
    %h1= @title
    %div
      %input{:id => 'img_url', :type => 'text', :value => 'http://gyazo.com/365d02afdf4953d40ec904df5019aa13.png', :size => 80}
      %input{:id => 'btn_go', :type => 'button', :value => 'Go!'}


